body{
    background-image: url("../images/diamond_upholstery.png");
}

header{
   /* border-bottom: 3px solid #cacaca;*/
    background-color: #cacaca;
    border-bottom: 2px solid #007aaa

}
.crystal{
    cursor: pointer;
}

.col-sm{
    background-color: #cacaca;;
    border-color: #007aaa;
    border-width: 3px;
    border-style: solid;
}

.crystal{
    background-color: #cacaca;;
    border-color: #007aaa;
    border-width: 3px;
    border-style: solid;
}